.changePasswordPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    padding: 50px;
    border: 1px solid #f16c2e;
    border-radius: 20px;
}
.btn_changePass{
    background-color: #f16c2e !important;
    

}