
.gallery_post{
  margin: 24px 0;
}

.gallery_group{
  display: flex;
  justify-content: center;
  gap:3px;
  margin-bottom: 3px;
}
.gallery_group_4{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width:640px;
  height:640px;
  gap:3px;
}


.gallery_item{
 width:calc(50% - 1.5px);
 height:calc(50% - 1.5px);
 position: relative;

}
.gallery_item-large{
  width:320px;
  height: 640px;
  position: relative;
}

.gallery_group img{
  width:100%;
  height:100%;
  object-fit: cover;
  border-radius: 1px;

}

.gallery_group .gallery_item:hover .gallery_overlay,
.gallery_group .gallery_item-large:hover .gallery_overlay
{
    display: flex;
}

.gallery_group .gallery_overlay{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    font-weight: 500;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
}   

