.follow_btn{
    display: inline-block;
    min-width: 95px;
    background-color: #efefef;
    color:#000;
    text-align: center;
    border-radius: 8px;
    opacity: 0.95;
}   
.follow_btn:hover{
    cursor: pointer;
    opacity: 1;    
}

.follow_btn.primary{
    background-color: var(--primary-color);
    color:#fff;
}

.follow_btn span{
    font-weight: 500;
    width:100%;
    height: 100%;
    display: inline-block;
    padding:8px 16px;
}
