.home {
  padding: 0 32px;
}

/* Main Content */
.home .main-content {
  padding: 0 32px 0 64px;
  margin-top: 48px;
}

/* Story List */

.home .story-list {
}

.home .story-list .story-arrow {
  position: absolute;
  top: 20px;
  width: 28px;
  height: 28px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-image: unset;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(9, 30, 66, 0.2) 0px 3px 6px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.5);
}

.home .story-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.home .story-item span {
  font-size: 13px;
  color: #000;
}

/* Posts */
.home-posts {
  margin: 32px 64px;
}
.home-post-item {
  width: 550px;
  padding: 16px 0;
  border-bottom: 1px solid var(--border-color);
}

.home-posts-readMore {
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  font-size: 16px;
  opacity: 0.8;
}

.home-posts-readMore:hover {
  opacity: 1;
  transform: translateY(2px);
  transition: transform 0.1s ease-in-out;
}

/* Suggestions */

.suggestions {
  height: 650px;
  padding: 48px 36px 0 12px;
}

.suggestions > h6 {
  font-weight: 500;
  color: var(--text-color);
  font-size: 14px;
}

.suggest-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (max-width: 1024px) {
  .home .main-content {
    width: 100%;
  }
  .suggestions {
    display: none !important;
  }
  .home-post-item {
    width: 400px;
  }
}

