.story_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
  z-index: 999;
  color: #fff;
}

.story_modal .close_icon {
  position: absolute;
  top: 28px;
  right: 28px;
  color: #fff;
  font-size: 32px;
  cursor: pointer;
}

.story_modal-list {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.story_modal_card {
  width: 400px;
  height: 700px;
  position: relative;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.story_modal_card-header {
  padding: 16px;
  background: linear-gradient(
    180deg,
    rgba(38, 38, 38, 0.8) 0%,
    rgba(38, 38, 38, 0) 100%
  );
}

.story_modal_card-header .progress-bar {
  height: 3px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.35);
}

.story_modal_card-header-content {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.story_modal_card-header-content i {
  font-size: 20px;
  cursor: pointer;
}

.story_modal_card-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.story_modal_card-body img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.story_modal_card-footer {
  padding: 16px 24px 12px;
  background: linear-gradient(
    180deg,
    rgba(38, 38, 38, 0) 0%,
    rgba(38, 38, 38, 0.8) 100%
  );    
}

.story_modal_card-footer input {
  outline: none !important;
  background-color: transparent !important;
  border-radius: 24px;
  padding:10px 12px;
  color: #fff !important;
  border: 1px solid #fff !important;
}
.story_modal_card-footer i{
    font-size: 24px;
}

.story_modal_card-footer input::placeholder {
  color: #fff !important;
}
